<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__caption">
            <a style ="text-decoration: none;" href="/echo-server"><h1 id="heading">ECHO YOUR FAVOURITE BEAT</h1></a>
             
        </ul>
    </nav>
</header>